.grass{
    position: fixed;
    bottom:0;
    width:100%;
    height:140px;
    background:url("images/grass.png") repeat-x;
    animation: moveGrass 3s ease-in-out infinite;
}

@keyframes moveGrass{

0%{
transform:translateY(0px);
}

50%{
transform:translateY(-8px);
}

100%{
transform:translateY(0px);
}

}
